{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ participant.nom}}!
{% endblock %}

{% block body %}

	<h2 class="my-5 text-uppercase text-center">Profil de
		{{participant.nom}}
		{{participant.prenom}}</h2>
	<div class="row container mx-auto">
		<div class="col-lg-5">
			<img class="rounded-3" src="{{asset('images/avatar.jpg')}}" width="300px">
		</div>

		<div class="col-lg-7">
			<p>
				<strong>Prénom
				</strong>
				:
				{{participant.prenom}}</p>
			<p>
				<strong>Nom
				</strong>
				:
				{{participant.nom}}</p>

			{% if (participant.id == app.user.id) or is_granted("ROLE_ADMIN") %}
				<p>
					<strong>Téléphone
					</strong>
					:
					{{participant.telephone}}
				</p>
				<p>
					<strong>Email</strong>
					:
					{{participant.email}}
				</p>

			{% else %}
				<p>
					<strong>Téléphone
					</strong>
					:#############
				</p>
				<p>
					<strong>Email</strong>
					:#############
				</p>
			{% endif %}

			<p>
				<strong>Ville de rattachement
				</strong>
				:

				{% if participant.sites != null %}
					{{participant.sites.getNomSite()}}
				{% else %}
					N/A
				{% endif %}
			</p>

		</div>
		<div class="my-5 d-grid gap-2 col-3 mx-auto">
			<a href="{{ path('home') }}" class="py-3 btn btn-danger fw-bold">Retour</a>
		</div>

		{% if app.user.id == participant.id  or is_granted("ROLE_ADMIN") %}
			<div class="my-5 d-grid gap-2 col-3 mx-auto">
				<a href="{{ path('app_profile_eddit',{id:app.user.id}) }}" class="py-3 btn btn-primary fw-bold">Modification</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
