<!-- header de la page -->
<header>
	{% set my_route = app.request.attributes.get('_route')%}

	<nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
		<div class="container-fluid">
			<a id="logo" class="navbar-brand" href="{{path('home')}}">
				<img src="{{asset('images/logo.png')}}" alt="logo Groupe 6" width="112px">
			</a>
			<button id="burgermenu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="navbar-nav ms-auto mb-2 mb-md-0">
					{% if app.user %}
						<li class="mx-2 nav-item desktop">
							<a class="text-uppercase fw-bolder nav-link" href="{{path('showLieux')}}">Lieux
							</a>
						</li>

						<li class="mx-2 nav-item desktop">
							<a class="text-uppercase fw-bolder nav-link" href="{{path('app_ville')}}">Villes
							</a>
						</li>

						<li class="mx-2 nav-item desktop">
							<a class="text-uppercase fw-bolder nav-link" href="{{path('sites')}}">Sites
							</a>
						</li>

						{% if is_granted("ROLE_ADMIN") %}
							<li class="mx-2 nav-item desktop">
								<a class="text-uppercase fw-bolder nav-link" href="{{path('app_profile')}}">Profils
								</a>
							</li>
							<li class="mx-2 nav-item mobile">
								<a class="text-uppercase fw-bolder nav-link" href="{{path('app_profile_show',{'id':app.user.getId()})}}">Mon profil
								</a>
							</li>
						{% else %}
							<li class="mx-2 nav-item">
								<a class="text-uppercase fw-bolder nav-link" href="{{path('app_profile_show',{'id':app.user.getId()})}}">Mon profil
								</a>
							</li>
						{% endif %}

						<li class="mx-2 nav-item">
							<a class="text-uppercase fw-bolder nav-link" href="{{ path('app_logout') }}">
								Se deconnecter
							</a>
						</li>
					{% else %}
						<li class="mx-2 nav-item ">
							<a class="text-uppercase fw-bolder nav-link" href="{{path('app_login')}}">Se connecter</a>
						</li>
					{% endif %}
				</ul>
				<p>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" value="A" role="switch" id="switchEtat" {% if (app.request.cookies.get('dark_theme') == "on") %} {{"checked"}} {% endif %} onchange="switchTheme()">
						{% if (app.request.cookies.get('dark_theme') == "on") %}
							<i class="far fa-moon"></i>
						{% else %}
							<i class="far fa-sun"></i>
						{% endif %}
					</div>
				</p>
			</div>
		</div>

		<script type="text/javascript">
			function switchTheme() {


let etat = getCookie("dark_theme");

let head = document.getElementsByTagName('head')[0];
let link = document.createElement('link');
link.rel = 'stylesheet';
link.type = 'text/css';

if (etat != "") {
if (etat == "on") {
setCookie("dark_theme", "off", 365);
link.href = 'http://localhost/Projet-Symfony/public/css/app.css';
window.location.reload()
} else {
setCookie("dark_theme", "on", 365);
link.href = 'http://localhost/Projet-Symfony/public/css/dark.css';
window.location.reload()
}
} else {
setCookie("dark_theme", "on", 365);
link.href = 'http://localhost/Projet-Symfony/public/css/dark.css';
window.location.reload()
} link.media = 'all';
head.appendChild(link);
}

if (etat === 'on') {
document.getElementById('burgermenu').classList.add('navbar-dark');
} else {
document.getElementById('burgermenu').classList.add('navbar-light');
}

// récupérer un cookie
function getCookie(name) {
let cookieArr = document.cookie.split(";");

for (let i = 0; i < cookieArr.length; i++) {
let cookiePair = cookieArr[i].split("=");
if (name == cookiePair[0].trim()) 
return decodeURIComponent(cookiePair[1]);



}

return null;
}

// modifier un cookie
function setCookie(name, value, daysToLive) {
let cookie = name + "=" + encodeURIComponent(value);

if (typeof daysToLive === "number") {
cookie += "; max-age=" + (
daysToLive * 24 * 60 * 60
) + ";path=/";
document.cookie = cookie;
}
}
		</script>
	</nav>

</header>
<!-- endHeader -->
