{% extends "base.html.twig" %}

{% block body %}
	<div class="h1">
		Créer une sortie
	</div>
	<hr>
	{{form_start(formSortie)}}
	<div style="display: flex; align-items:center; justify-content: space-around">
		<div>
			<table>
				<tbody>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Nom de la sortie*</span>
							<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="nom" name="nom" required>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Date et heure de la sortie*</span>
							<input type="datetime-local" id="date_debut" name="date_debut" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Date limite d'inscription*</span>
							<input type="datetime-local" id="date_cloture" name="date_cloture" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Nombre de places*</span>
							<input type="number" min="0" name="nbInscriptionsMax" id="nbInscriptionsMax" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Durée</span>
							<input type="number" min="0" id="duree" name="duree" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">&nbsp;minutes
						</div>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ms-2">
			<table>
				<tbody>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Ville organisatrice</span>
							<input type="text" class="form-control  " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled value="{{app.user.sites}}">
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Ville*</span>
							<select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="ville" id="ville" required>
								<option selected></option>
								{% for ville in villes %}
									<option value="ville{{ville.getId()}}" id="ville{{ville.getId()}}" data-ville="{{ville.getCodePostal()}}">{{ville.getNomVille()}}</option>
								{% endfor %}
							</select>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Lieu*</span>
							<select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="lieu" id="lieu" required disabled></select>
						</div>
					</tr>

					<script type="text/javascript">
						document.getElementById('ville').addEventListener('change', e => {
let selectLieu = document.getElementById("lieu");
if (selectLieu.disabled == true) 
selectLieu.disabled = false;



let cp = document.getElementById(document.getElementById("ville").value).getAttribute("data-ville");
let id = document.getElementById(document.getElementById("ville").value).getAttribute("id").replace("ville", "");
document.getElementById('cp').value = cp;

$('#lieu').find('option').remove();

let opt = new Option();
opt.setAttribute("selected", "");
selectLieu.options.add(opt);

let base_url = document.location.href.substring(0, document.location.href.length - 10);

axios.get(base_url + "/lieux_ville/" + id).then((response) => {
response.data.forEach(elt => {
let newOption = new Option(elt.nom_lieu, "lieu" + elt.id);
newOption.setAttribute("id", "lieu" + elt.id);
newOption.setAttribute("data-lieu", elt.rue);
selectLieu.options.add(newOption);
});
});
})

document.getElementById('lieu').addEventListener('change', e => {
let rue = document.getElementById(document.getElementById("lieu").value).getAttribute("data-lieu");
document.getElementById('rue').value = rue;
})
					</script>

					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Rue</span>
							<input type="text" id="rue" name="rue" class="form-control  " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
						</div>
					</tr>
					<tr>
						<div class="input-group input-group-sm mb-3">
							<span class="input-group-text " id="inputGroup-sizing-sm">Code postal</span>
							<input type="text" id="cp" name="cp" class="form-control  " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<table>
			<tbody>
				<tr>
					<div class="input-group input-group-sm mb-3">
						<span class="input-group-text " id="inputGroup-sizing-sm">Description et infos</span>
						<textarea name="description" id="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></textarea>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<button type="submit" name="etat" value="enregistrer" class="btn btn-primary">Enregistrer</button>
		<button type="submit" name="etat" value="publier" class="btn btn-primary">Publier</button>
	</div>
	{{form_end(formSortie)}}

	<hr>
	<!-- bouton modal -->
	<div>
		<button type="button" class="btn btn-success btn-group btn-group-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
			<i class="fas fa-plus">&nbsp;Ajouter un lieu</i>
		</button>
	</div>
	<!-- modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Ajouter un lieu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form action="{{path('quickAddLieu')}}" method="post">
					<div class="modal-body">
						<table>
							<tbody>
								<tr>
									<td>Site organisateur :&nbsp;</td>
									<td>
										<select name="ville" id="ville" style="width:60%">
											<option selected></option>
											{% for ville in villes %}
												<option value="{{ville.getId()}}">{{ville.getNomVille()}}</option>
											{% endfor %}
										</select>
									</td>
								</tr>
								<tr>
									<td>Nom* :&nbsp;</td>
									<td><input type="text" name="nom_lieu" id="nom_lieu" required></td>
								</tr>
								<tr>
									<td>Rue* :&nbsp;</td>
									<td><input type="text" name="rue" id="rue" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-dark" value="Enregistrer">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
